subflow1(gui).txt
[{"id":"b9e74a71.a995f8","type":"ui_slider","z":"392e5f5b.89b93","name":"Plant7 Minimum moisture Level","label":"Plant7 Minimum moisture Level","group":"1c127556.33317b","order":18,"width":"6","height":"1","passthru":false,"topic":"Dashboard/Settings/Plant7M","min":"20","max":"40","step":1,"x":610,"y":440,"wires":[["b3c9c5ec.6c4a18"]],"inputLabels":["global.get('P7MML')"]},{"id":"63597afe.3ed714","type":"ui_numeric","z":"392e5f5b.89b93","name":"","label":"P7MML","group":"1c127556.33317b","order":19,"width":"6","height":"1","passthru":false,"topic":"Dashboard/Settings/Plant7M","format":"{{value}}%","min":"20","max":"40","step":1,"x":580,"y":560,"wires":[["b3c9c5ec.6c4a18"]]},{"id":"e5460d9a.0f381","type":"ui_numeric","z":"392e5f5b.89b93","name":"","label":"P2MML","group":"1c127556.33317b","order":8,"width":"6","height":"1","passthru":false,"topic":"Dashboard/Settings/Plant2M","format":"{{value}}%","min":"20","max":"40","step":1,"x":600,"y":180,"wires":[["22acbc7a.4bc224"]]},{"id":"366692b0.0f1ebe","type":"ui_slider","z":"392e5f5b.89b93","name":"Plant5 Minimum moisture Level","label":"Plant5 Minimum moisture Level","group":"1c127556.33317b","order":14,"width":"6","height":"1","passthru":false,"topic":"Dashboard/Settings/Plant5M","min":"20","max":"40","step":1,"x":610,"y":220,"wires":[["3abe2867.e66318"]]},{"id":"8b1e2b28.1b09e8","type":"ui_numeric","z":"392e5f5b.89b93","name":"","label":"P5MML","group":"1c127556.33317b","order":15,"width":"6","height":"1","passthru":false,"topic":"Dashboard/Settings/Plant5M","format":"{{value}}%","min":"20","max":"40","step":1,"x":600,"y":380,"wires":[["3abe2867.e66318"]]},{"id":"22acbc7a.4bc224","type":"function","z":"392e5f5b.89b93","name":"Update Plant2 Minimum Moisture Level","func":"//Requires:\n// a numeric payload from a gui tool eiter a Numeric\n// display or a slider which is the new Minimum\n// Moisture Level requiered for Plant area 2\n//Returns:\n// the same payload delivered to both gui tools\n// to ensure both are displaying the same value.\n//Results:\n// no expected side effets beyond\n// global variable P2MML representing the Minimum Moisture \n// Level (MML) to be used for conditional tests on \n// other flows\nvar P2MML = global.get('P2MML')||30;\nglobal.set('P2MML',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":100,"wires":[["f371b872.9806d8","e5460d9a.0f381"]]},{"id":"3abe2867.e66318","type":"function","z":"392e5f5b.89b93","name":"Update Plant5 Minimum Moisture Level","func":"//Requires:\n// a numeric payload from a gui tool eiter a Numeric\n// display or a slider which is the new Minimum\n// Moisture Level requiered for Plant area 5\n//Returns:\n// the same payload delivered to both gui tools\n// to ensure both are displaying the same value.\n//Results:\n// no expected side effets beyond\n// global variable P5MML representing the Minimum Moisture \n// Level (MML) to be used for conditional tests on \n// other flows\nvar P5MML = global.get('P5MML')||30;\nglobal.set('P5MML',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":300,"wires":[["8b1e2b28.1b09e8","366692b0.0f1ebe"]]},{"id":"b3c9c5ec.6c4a18","type":"function","z":"392e5f5b.89b93","name":"Update Plant7 Minimum Moisture Level","func":"//Requires:\n// a numeric payload from a gui tool eiter a Numeric\n// display or a slider which is the new Minimum\n// Moisture Level requiered for Plant area 7\n//Returns:\n// the same payload delivered to both gui tools\n// to ensure both are displaying the same value.\n//Results:\n// no expected side effets beyond\n// global variable P7MML representing the Minimum Moisture \n// Level (MML) to be used for conditional tests on \n// other flows\nvar P7MML = global.get('P7MML')||30;\nglobal.set('P7MML',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":500,"wires":[["63597afe.3ed714","b9e74a71.a995f8"]],"inputLabels":["P7MML"]},{"id":"1c127556.33317b","type":"ui_group","z":"","name":"Overview","tab":"6152efc3.75cfe","order":2,"disp":false,"width":"12","collapse":false},{"id":"6152efc3.75cfe","type":"ui_tab","z":"","name":"Patio Plant Monitor","icon":"dashboard","order":1}]